[data-category="good"] {
  color: #219653;
}

[data-category="moderate"] {
  color: #F2C94C;
}

[data-category="unhealthy-sensitive"] {
  color: #F2994A;
}

[data-category="unhealthy"] {
  color: #EB5757;
}

[data-category="very-unhealthy"] {
  color: #9B51E0;
}

[data-category="hazardous"] {
  color: #662000;
}

[data-category="inactive"] {
  color: gray;
}

.aqi-wrapper article.component {
  background-color: #f5f5f5 !important;
  border: 1px solid #000;
}

.aqi-wrapper .teaserWrapper {
  padding: 10px 15px 58px !important;
}

.aqi-wrapper {
  text-align: center;
}

.aqi-inner {
  display: flex;
}

.aqi-title {
  color: #000;
  font-size: 26px;
  line-height: 1.1;
  margin-bottom: 1.5rem;
  margin-top: 0;
  text-align: left;
}

.aqi-items {
  margin-left: 15%;
}

.aqi-scale {
  width: 25%;
  margin-top: .8rem;
  padding-left: 1.2rem;
}

.aqi-scale span.foo {
  display: none;
}

.aqi-scale>span {
  width: 0.5rem;
  height: 5.55rem;
  background: #21965D;
  display: block;
  position: relative;
}

.aqi-scale>span:before {
  content: "10";
  position: absolute;
  bottom: -0.8rem;
  right: -2.4rem;
  font-size: .8rem;
  transform-origin: top left;
  color: #000;
  width: 30px;
  text-align: left;
}

.aqi-scale>span[data-category="moderate"] {
  background: #F2C94C;
}

.aqi-scale>span[data-category="unhealthy-sentitive"] {
  background: #F2994A;
}

.aqi-scale>span[data-category="unhealthy"] {
  background: #EB5757;
}

.aqi-scale>span[data-category="very-unhealthy"] {
  background: #9B51E0;
}

.aqi-scale>span[data-category="hazardous"] {
  background: #662000;
}

.aqi-scale>span[data-category="good"]:before {
  content: '0';
}

.aqi-scale>span[data-category="moderate"]:before {
  content: '50';
}

.aqi-scale>span[data-category="unhealthy-sentitive"]:before {
  content: '100';
}

.aqi-scale>span[data-category="unhealthy"]:before {
  content: '150';
}

.aqi-scale>span[data-category="very-unhealthy"]:before {
  content: '200';
}

.aqi-scale>span[data-category="hazardous"]:before {
  content: '300+';
}

.wpforms-confirmation-container-full p {
  color: black !important;
}

.has-text-align-center {
  position: relative;
  margin-bottom: 1.5rem;
}

.aqi-category {
  font-size: 1rem;
}

.location,
.aqi-category {
  font-size: 1.1rem;
}

.aqi-category.middle-item {
  font-size: 1.2rem;
}

.campus-center,
.dining-hall {
  font-size: 0.5em;
}

.location,
.aqi-index,
.aqi-category {
  margin: 0.2rem auto !important;
}

.aqi-index {
  line-height: 1;
  font-size: 2.5rem;
  font-weight: bold;
}

.alignwide {
  max-width: 860px !important;
}

/* Loader */
.aqi-loader .loading {
  width: 50px;
  height: 30px;
}

/*------For aqi in the main page body----------------------*/
.is-on-page-body .aqi-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 0;
}

.is-on-page-body .aqi-inner {
  display: flex;
  flex-flow: column;
  padding: 0 0 2rem 0;
}

.is-on-page-body .aqi-scale {
  display: flex;
  justify-content: center;
  margin-top: 0.8rem;
  padding-left: 2.2rem;
  width: 100%;
  flex-flow: row-reverse;
}

.is-on-page-body .aqi-scale>span {
  width: 6rem;
  height: 0.5rem;
  position: relative;
}

.is-on-page-body .aqi-scale>span.foo {
  display: none;
}

.is-on-page-body .aqi-scale>span:before {
  bottom: 0.4rem;
  left: -0.2rem;
}

.is-on-page-body .aqi-scale>span:after {
  content: "Good";
  position: absolute;
  top: 0.7rem;
  left: 0;
  transform-origin: top left;
  color: #000;
  font-size: .6rem;
  line-height: 1;
  width: 6rem;
}

.is-on-page-body .aqi-scale>span[data-category="moderate"]:after {
  content: 'Moderate'
}

.is-on-page-body .aqi-scale>span[data-category="unhealthy-sentitive"]:after {
  content: 'Unhealthy for sensitive groups'
}

.is-on-page-body .aqi-scale>span[data-category="unhealthy"]:after {
  content: 'Unhealthy'
}

.is-on-page-body .aqi-scale>span[data-category="very-unhealthy"]:after {
  content: 'Very unhealthy'
}

.is-on-page-body .aqi-scale>span[data-category="hazardous"]:after {
  content: 'Hazardous'
}

.is-on-page-body .location,
.is-on-page-body .aqi-category {
  font-size: 1.5rem;
}

.is-on-page-body .aqi-index {
  font-size: 4rem;
  font-weight: normal;
}

.is-on-page-body article.component a.go {
  display: none;
}

#last-updated {
  font-size: 0.9rem;
  font-family: 'Lato', sans-serif;
}

.is-on-page-body #last-updated {
  margin-top: 20px;
}

.aqi-group {
  margin-bottom: 10px;
}

.is-on-page-body .aqi-group {
  margin-bottom: 0;
}

.aqi-error-wrapper {
  display: none;
  color: #EB5757;
}

.aqi-data-wrapper {
  display: none;
}

.sensor-status {
  margin-top: 0 !important;
  color: grey;
  font-size: 15px;
}

@media screen and (max-width: 63.875em) {
  .aqi-scale {
    padding-left: 1.8rem;
  }

  .is-on-page-body .aqi-scale {
    padding-left: 0;
  }

  .is-on-page-body .aqi-index {
    font-size: 3rem;
  }

  .is-on-page-body .location,
  .is-on-page-body .aqi-category {
    font-size: 1.2rem;
  }
}